@charset "utf-8";

body{
	font-family: 'Economica', sans-serif;
	background-image:url(file:///C|/Users/will%20and%20nessa/Documents/school%20stuff/Adv%20Cleint%20Side/final_project/images/bg1.png);
	background-repeat:no-repeat;
	font-size:100%;

	
}

p {
	font-family: 'Economica', sans-serif;
	font-size: 0.875em;
	line-height:1.75em;
}

body#home .nav-home, body#minitries .nav-minitries,body#services .nav-services,body#connect .nav-connect,body#team .nav-team,body#map .nav-map,body#give .nav-give {
background-color:#29336B;
color:#F8F068;
display:block;
}

#container{
	
	clear: both;
	margin: 0px auto;
	width: 920px;
	background: #fff;
	/*-moz-border-radius: 10px;
 	-khtml-border-radius: 10px;
  	-webkit-border-radius: 10px;*/
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  	-khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	position: relative;
	z-index: 90; /* the stack order: displayed under ribbon rectangle (100)*/
	border-bottom-right-radius:7.5px;
	border-bottom-left-radius:7.5px;
	
}

header{
	width:auto;
	background-color:#FCF9F9;
	border-radius:15px;
	box-shadow: 7px 7px 10px 1px black;
	
	
}

#wrap{
	width: 960px;
	margin: 0 auto;	
}

body#home .nav-home, body#minitries .nav-minitries,body#services .nav-services,body#connect .nav-connect,body#team .nav-team,body#map .nav-map,body#give .nav-give {
background-color:#29336B;
color:#F8F068;
display:block;
}

nav{
	background-color:#95b9c7;
	height: 35px;
	position: relative;
	z-index: 100; /* the stack order: foreground */
	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.55);
  	-khtml-box-shadow: 0px 0px 20px rgba(0,0,0,0.55);
  	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.45);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:2px;
	border-bottom-left-radius:2px;

	
}



nav li{
	font-family: 'Shadows Into Light', cursive;
	color: #fff;
	text-shadow: 5px 5px 5px black;
	width:120px;
	line-height:35px;
	float:left;
	text-align:center;
	border-left: 1px black solid;
	border-right: 1px black solid;
	list-style:none;
}

nav ul li a{
	color:#ffffff;
	display:block;
	
}

nav ul li a:hover{
	background-color:#29336B;
	color:#F8F068;
	
}

ul{
	list-style-position:inside;
	font-size: 0.875em;
	
}

.triangle-l {
	border-color: transparent #699cb0 transparent transparent;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: 925px;
	top: 20px;
	z-index: 1; /* displayed under bubble */
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}

.triangle-r {
	border-color: transparent transparent transparent #699cb0;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: 5px;
	top: -10px;
	z-index: -1; /* displayed under bubble */
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	
}

footer{
	margin: 0px auto;
	width:920px;
	height: 100px;
	border-radius: 7.5px;
	clear:both;
	background-color:#c3c3c3;
}

footer p{
	margin: 10px 0 0 20px;
	width:280px;
	font-size: 1em;
	
}
